*.dart linguist-language=Dart
*.yaml linguist-language=YAML
*.yml linguist-language=YAML
android/** linguist-vendored
ios/** linguist-vendored
web/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored